<h1><%= @restaurant.name %></h1>

<%= @restaurant.category.name %>

<table class="table_index">
  <tr>

    <td>Opening Hours:<%= @restaurant.opening_hours %><br></td>
    <td>Tel: <%= @restaurant.tel %><br></td>
    <td>Address: <%= @restaurant.address %><br></td>
    <td>Description:<%= @restaurant.description %><br></td>
    <td><%= image_tag @restaurant.image, width: '600px' %></td>

  </tr>
</table>
<br>

<%= link_to 'Back to index', admin_restaurants_path %>